<% if user_signed_in? %>
  <li role="presentation"><%= link_to 'View', profile_path %></li>
  <li role="presentation"><%= link_to 'Edit', profile_edit_path %></li>
  <li role="presentation"><%= link_to 'Logout', destroy_user_session_path, :method => :delete %></li>
<!--% else %>-->
<!--  <p>%= link_to('Login', new_user_session_path)  %> </p>-->
<% end %>
