<%= will_paginate @calorie_entries, :renderer => BootstrapPagination::Rails %>
<table class="table table-striped table-bordered table-hover">
  <thead>
   <tr>
      <th>Date</th>
      <th>Calories</th>
      <th></th>
    </tr> 
  </thead>
  <tbody>
    <% @calorie_entries.each do |calorie_entry| %>
    <tr>
      <td><%= calorie_entry.date.to_s(:long_ordinal) %></td>
      <td><%= calorie_entry.num_calories %></td>
      <td><%= link_to 'Delete', calorie_entry, :method => :delete, data: {confirm: "Are you sure?"} %></td>
    </tr>
    <% end %>
    <tr>
      <td><%= link_to 'New entry', new_calorie_entry_path %></td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>