<p>Log new entry:</p>
<%= form_for @calorie_entry, url: calorie_entries_path do |f| %>
  <div class="form-group">
    <%= f.label :num_calories %><br/>
    <%= f.number_field :num_calories, :min => 0, :required => true %><br/>
    <%= f.label :date ,:required => true %><br/>
    <%= f.date_select :date %>
  </div>
  <p>
    <%= f.submit %>
  </p>
<% end %>
<%= @formatted_time %>
