<% calories_left = current_user.calorie_goal - current_user.calories_today %>
<table class="table table-striped table-bordered table-hover">
  <tbody>
    <tr class="<%= calories_left < 0 ? "danger" : "" %>" style="
          background-size: <%= 100*(BigDecimal.new(current_user.calories_today)/BigDecimal.new(current_user.calorie_goal)) %>% 100%;
          background-image: url(light_blue.png);
          background-repeat: no-repeat;
        "
      >
      <td>Calories: <%= current_user.calories_today %>/<%= current_user.calorie_goal %></td>
    </tr>
    <tr style="
          background-size: <%= 100*(BigDecimal.new(calories_left)/BigDecimal.new(current_user.calorie_goal)) %>% 100%;
          background-image: url(light_grey.png);
          background-repeat: no-repeat;
        "
      >
      <td>Calories Left: <%= calories_left > 0 ? calories_left : 0 %></td>
    </tr>
  </tbody>
</table>