<%= form_for current_user, url: profile_update_path do |f| %>
  <p>
    <%= f.label :calorie_goal %>
    <%= f.number_field :calorie_goal, :min => 0 %>
  </p>
  <p>
    <%= f.label :time_zone %>
    <%= f.time_zone_select :time_zone, ActiveSupport::TimeZone.us_zones %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>