<div class="row-fluid">Calorie Goal: <%= current_user.calorie_goal %></div>
<div class="row-fluid">Time Zone: <%= current_user.time_zone %></div>
<div class="row-fluid"><%= link_to 'Edit', profile_edit_path %></div>
