<h3>stats</h3>
<%= form_tag profile_stats_path, :method => 'get', :id => "set_days" do %>
  <p>
    <%= label_tag :days %>
    <%= number_field_tag :days, @num_days.to_i %>
    <%= submit_tag "Submit", :name => nil %>
  </p>
<% end %>
<%= line_chart [{name: "Actual", data: @calorie_data}, 
  {name: "Goal", data: @calorie_goal_data}], 
  discrete: true, max: @max + 1000, ytitle: 'Calories', 
  library: {curveType: "none"} 
%>
