<ul class="nav nav-tabs">
  <li role="presentation" <%= current_page?("/") ? "class=active" : "" %>><a href="/">Home</a></li>
  <li role="presentation" <%= current_page?("/calorie_entries") ? "class=active" : "" %>><a href="/calorie_entries">Entries</a></li>
  <li role="presentation" <%= current_page?("/profile/stats") ? "class=active" : "" %>><a href="/profile/stats">Stats</a></li>
  <% if user_signed_in? %>
    <li role="presentation" class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
        Profile <span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
        <%= render 'devise/menu/login_items' %>
      </ul>
    </li>
  <% end %>
</ul>