<!DOCTYPE html>
<html>
<head>
  <title>Calorie Tracker</title>
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container-fluid">
    <%= render 'layouts/navbar' %>
    <div class="row-fluid">
      <% flash.each do |key, value| %>
        <% if value %>
          <% key = key == 'alert' ? 'danger' : key %>
          <% key = key == 'notice' ? 'info' : key %>
          <div class="alert alert-<%= key %>"><%= value %></div>
        <% end %>
      <% end %>
    </div>
    <div class="row-fluid">
      <%= yield %>
    </div>
  </div>
</body>
</html>
